/* Style sheet for professional portfolio, TWH, 6-7-21 */


/* Applies box model, sets margin/padding to 0, sets Arial */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
    background-color: rgb(170, 219, 247);
}

header {
    background-color: rgb(36, 92, 196);
    color:white;
    list-style-type: none;
    width:100%;
    padding:30px;
    display:inline-block;
}

header h1 {
    font-size:50px;
}

.nav {
    text-align: right;
}

header ul li {
    display:inline-flex;
    font-size:20px;
    margin-left:30px;
    margin-right:40px;
    margin-bottom:-5px;
    padding:5px
}

a {
    color:white;
    text-decoration: none;
}

a:hover {    
    text-decoration: underline solid white 3px;
}

.background {
    position:relative;
    text-align: center;
    color:white
}

.summary {
    position: absolute;
    text-align:left;
    top: 75px;
    left: 30px;
    font-size: 20px;
    padding:10px
}

img {
    width:100%;
    object-fit: cover;
}


