/* Style sheet for professional portfolio, TWH, 6-29-21 */

* {
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

:root {
    --content: rgb(36, 92, 196);
}

.jumbotron {
    text-align: center;
    background-color: var(--content);
    color:white;
    margin-top: -2%;
    border-bottom: solid white 10px;
}

body {
    background-color: rgb(170, 219, 247);
}

.navbar {
    list-style-type: none;
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: 4%;
    margin-left: 5%;
    margin-right:5%;
    width:90%;
    font-size:25px;
}

.navbar a {
    color:black;
}

a:hover {
    color:black
}

.background {
    position: relative;
    width:100%;
    object-fit: cover;
    z-index: -1;
}

.prof-pic {
    position: absolute;
    margin-left:-58%;
    z-index: 1;
    border-left: solid white 10px;
    border-right: solid white 10px;
}

.bio, .contact-me {
    text-align: center;
    position:relative;
    background-color: white;
    width:70%;
    padding-bottom: 2%;
    margin-top:3%;
    margin-left:15%;
    margin-right:15%;
    border-radius: 10px;
}

.bio h2, .contact-me h2 {
    text-align: center;
    font-size:30px;
    color:white;
    margin-top:5%;
    background-color:var(--content);
    padding:20px;
    margin-bottom:3%;
}

.summary, .interests, .hobbies, .github, .linkedin {
    font-size:20px;
    padding:1%;
    margin-bottom: 4%;
    margin-top:4%;
    color: black
}

.apps-title {
    text-align: center;
    width:90%;
    margin-right:5%;
    margin-left:5%;
    margin-top:4%;
    font-size:30px;
    color:white;
    background-color:var(--content);
    padding:20px;
    margin-bottom:2%;
    border-radius: 10px;
}

.apps {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    text-align: center;
    margin-left: 4%;
    margin-right:4%;
}

.apps a {
    color:black
}

.semantics, .password-gen, .coding-quiz, .daily-planner, .weather-dashboard, 
.movie-pop, .readme-generator, .team-generator, .note, .employee, .e-commerce,
.tech-blog, .one-track {
    margin: 2%;
}

img.semantic, img.password, img.quiz, img.planner, 
img.weather, img.movie, img.readme, img.team, img.note,
img.employee, img.e-commerce, img.tech-blog, img.one-track {
    position:relative;
    border-radius: 10px;
}

img.semantic:hover, img.password:hover, img.quiz:hover, img.planner:hover, 
img.weather:hover, img.movie:hover, img.readme:hover, img.team:hover, 
img.note:hover, img.employee:hover, img.e-commerce:hover, img.tech-blog:hover, img.one-track:hover {
    filter: saturate(150%);
    box-shadow: 0 6px 20px 0 rgba(99, 96, 96, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.semantic-1, .password-1, .quiz-1, .planner-1, .weather-1, 
.movie-1, .readme-1, .team-1, .note-1, .employee-1, .e-commerce-1, 
.tech-blog-1, .one-track-1 {
    margin-top: 3%;
    text-align:center;
    font-size:20px;
}

.email {
    margin-top: 3%;
    font-size: 20px;
    padding: 10px;
}

#resume {
    text-align: center;
    margin-top: 30px;
    font-size:25px
}

footer {
    background-color:var(--content);
    width:100%;
    padding:30px;
    text-align:center;
    font-size:20px;
    margin-top:50px;
}

#footer-link {
    color:white
}

@media screen and (max-width: 700px) {
    .prof-pic {
      margin-left: -68%;
    }
} 

@media screen and (max-width: 700px) {
    .navbar {
      margin-bottom: 5%;
    }
} 

@media screen and (max-width: 1120px) {
    .apps {
    margin-left:25%;
    margin-right: 25%;
}
}

@media screen and (max-width: 550px) {
    .apps {
      margin-left: 15%;
      margin-right: 15%;
    }
} 






